argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
backports.functools-lru-cache==1.6.1
bleach==3.1.5
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.11.5
chardet==3.0.4
ConfigArgParse==1.2
cryptography==3.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
future==0.18.2
idna==2.10
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.7
jupyterlab-pygments==0.1.1
jupyterlab-server==1.2.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
nbclient==0.5.0
nbconvert==6.0.2
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numpy==1.19.2
opencv-python==4.4.0.42
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.8.0
prompt-toolkit==1.0.18
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
requests==2.24.0
scipy==1.5.2
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.15.0
terminado==0.8.3
testpath==0.4.4
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
